@import url('https://Fonts.googleapis.com/css2?family=Monserrat');
body{
    font-family: 'Montserrat';
}

img{
    width:100%;
    vertical-align:top;

}

a{
    font-size:0.8rem;
}

.presentacion {
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.usuario {
    display:flex;
    align-items:center;
    
     padding:10px 15px; 
    border-radius:4px;
    /* border:1px dotted black ; */
    border: 1px solid black;
    box-sizing:border-box;
    width:49.5%;
}
.foto {
 border:1px solid gray;
 border-radius:5px;
 overflow:hidden;
 margin-right:20px;
 width:170px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.datos {
  flex:1;
}

.botones {
  width:110px;
}

button {
    padding:6px 12px;
    outline:none;
    border-radius:3px;
    width:98px;
    margin:4px;
    cursor:pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.rojo{
    background-color: red;
    border: 1px solid red;
    color: white;
}

.verde{
    background-color: green;
    border: 1px solid green;
    color: white;
}

.rojo:hover {
   color: red; 
   background-color: white;
   
}

.verde:hover {
    color: green;
    background-color: white; 
    
 }

 .usuarios{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    margin-top: 12px;


 }

 .nombreUsuarios{
    font-size: 1.04em;
    margin-top: 8px;
 }
